/******* General Styles ********/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

#home-section, #projects-section, #contact-section, 
#skills-section, #about-section {
	min-height: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: right;
	font-family: 'Open Sans', sans-serif;
}

#home-section, #projects-section, #contact-section, #about-section  {
	background-image: url(./../images/1.png);
}

#skills-section {
	background-image: url(./../images/3.png);
	background-position: left;
}

#projects-section h1, #contact-section h1, 
#skills-section h1, #about-section h1{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 1.5px;
}

#projects-section h1, #contact-section h1 {
	color: white;
	text-shadow: 0 0 15px #000, 0 0 15px #000;
}

#skills-section h1, #about-section h1 {
	color:#144673;
	text-shadow: 0 0 15px #fff, 0 0 15px #fff;
}

/******** Home Section Styles *********/
#home-section h1 {
	font-family: 'Delius Unicase', cursive;
	font-size: 3rem;
	font-weight: bold;
	text-shadow: 0 0 15px #000, 0 0 15px #000;
}

#home-section img {
	width: 10rem;
}

.sched-btn {
	background-color: #F2B441;
	border-radius: 50px;
	font-size: 1rem;
	text-shadow: 0 0 3px #000, 0 0 3px #000;
	border: solid .5px #fff;
}

.sched-btn:hover {
	background-color: #0B2740;
}

/******** Navbar Styles *********/
.navbar {
	font-size: 1.15rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
	opacity: 0.8;
}

/********* Skills Section Styles ********/

.front-skills, .back-skills, .other-skills {
	background-color:rgba(20,70,115,0.8);
	border-radius: 10px;
	margin: 0 2%;
}

#skills-section h2 {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow: 0 0 15px #144673, 0 0 15px #144673;
}

#skills-section h3 {
	font-size: 1rem;
}

/********* Projects Section Styles ********/
.card:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/******** About Section Styles *********/
.about-content {
	min-height: 65vh;
}

.about-content h3 {
	font-size: 2rem;
	font-weight: bold;
}

.about-content p {
	font-size: 1.5rem;
}

.about-small img {
	width: 15rem;
	border-radius: 10px;
}

/******** Contact Section Styles *********/

#contact-section .contact-form  {
	min-height: 65vh;
}

.contact-form h2 {
	font-size: 2rem;
	text-shadow: 0 0 15px #144673, 0 0 15px #144673;
}

.send-btn .btn {
	background-color: #F2B441;
	border-radius: 50px;
	font-size: 1.25rem;
	text-shadow: 0 0 3px #000, 0 0 3px #000;
	border: solid .5px #fff;
	color: white;
	font-weight: bold;
}

.send-btn .btn:hover, .card .btn:hover {
	background-color: #0B2740;
}

/********* Footer Section ********/
#footer {
	background-image: url(./../images/2.png);
	background-position: bottom left;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

ul.socmed {
	list-style-type: none;
	display: flex;
	max-width: 16rem;
	margin: 0 auto;
	padding: 0;
}

ul.socmed li {
	margin: 0 auto;
}

.footer-contact .email {
	color: black;
}

.footer-contact .email:hover {
	text-decoration: underline;
}


.footer-contact .fas, .credits-text {
	color: #144673;
}

#footer .fab {
	color:#144673;
	background-color: rgba(242,180,65,0.75);
	border-radius: 25px;
}

#footer .fab:hover {
	color: #F2B441;
	background-color: rgba(20,70,115,0.75);
}

/******* Media Queries *********/
/* Devices over 768px (md) */
@media (min-width: 767px) { 
	/*General styles*/
	#skills-section h1, #projects-section h1,
	#about-section h1, #contact-section h1 {
		font-size: 4rem;
	}	

	/*Home Section*/
	#home-section img {
		width: 30%;
	}

	/*Skills Section*/
	#skills-section h2 {
		font-size: 2.5rem;
	}

	.front-skills, .back-skills, .other-skills, .projects {
		margin: 0 10%;
	}

	/*Contact Section*/
	.form-label {
		font-size: 1.5rem;
	}

	.contact-form h2 {
		font-size: 2.5rem;
	}

	/*Footer*/
	#footer h5, #footer p {
		font-size: 1.5rem;
	}

}

/* Devices over 992px (lg) */
@media (min-width: 992px) {
	/*General styles*/
	#home-section h1 {
		font-size: 5rem;
	}
	
	#skills-section h1, #projects-section h1,
	#about-section h1, #contact-section h1 {
		font-size: 6rem;
	}

	#skills-section, #about-section {
		background-image: url(./../images/3.png);
		background-position: bottom;
	}

	/*Skills Section*/
	#skills-section h3 {
		font-size: 2rem;
	}

	/*About Section*/
	.about-right {
		background-image: url(./../images/me.png);
		background-position: center;
		background-size: contain;
		border-radius: 10px;
		background-repeat: no-repeat;
	}
	
	/*Contact Section*/
	.contact-left {
		background-image: url(./../images/contact.png);
		background-position: center;
		background-size: contain;
		border-radius: 10px;
		background-repeat: no-repeat;
	}

	/*Footer Section*/
	.footer-contact .email {
		color: black;
		text-decoration: none;
	}
}
